.profilecontainer
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: chartreuse;
    width: 50vw;
}
.outercontainer
{
    display: flex;
    align-items: center;
    justify-content: center;
}