.gender
{
    display: flex;
    align-items: center;
    justify-content: center;
}
input{
    padding: 6px;
}
h2
{
    color: red;
    font-weight: 800;
    animation: colorchange 5s infinite ease-in-out;
}
@keyframes colorchange {
    0% {
      color: red;
    }
    50% {
      color: blue;
    }
    100% {
      color: red;
    }
  }
button
{
    background-color: #b8860b;
    border-radius: 10px;
    padding: 6px;
    margin: 15px;
}

label
{
    color: #b8860b;
    font-weight: 800;
}
form
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.signupcontainer
{
    height: 100vh;
    background-color: springgreen;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
h2:hover{
    transition: 5s;
    color: blue
};